/ modal-window用部分テンプレート
/ Ajaxで @schedule を動的に取得してレンダリングする
.day
  %h2= @schedule.date
  %h3= "#{@schedule.presents} #{@schedule.title}"
  %a{:href => "/day?date=#{@schedule.date}", :target => "_blank"}permalink
  .open= @schedule.open.gsub("\\","￥").gsub("\/", "／")
  .contents
    =@schedule.band
