.container
  #header
    .row
      .col-md-12
        %a{:href => "/", :style => "text-decoration:none"}
          %h1
            なるすし！
            %span.small ~ Schedule at Urawa Narciss ~
      .col-md-12
        %p.bg-warning
          本ページは全自動で生成されています。最新の正しい情報は必ず
          %a{:href => "http://www.zmf.co.jp", :target => "_blank"} 浦和ナルシス公式Website
          を確認してください。
      .col-md-12
        %a.btn.btn-default{:href => "/"} ノーマルモード
        %a.btn.btn-default{:href => "/calendar"} カレンダーモード
  #selectmonth
    .row
      .col-md-12
        %h2= @current_view unless @current_view.nil?
      .col-md-12
        %ul.pagination.pagination-sm
          %li
            %a{:href => "?y=#{@view_year-1}&m=12"} &lt;&lt; #{@view_year-1}
          %li
            %a{:href => "?y=#{@view_year}&m=1"} 1
          %li
            %a{:href => "?y=#{@view_year}&m=2"} 2
          %li
            %a{:href => "?y=#{@view_year}&m=3"} 3
          %li
            %a{:href => "?y=#{@view_year}&m=4"} 4
          %li
            %a{:href => "?y=#{@view_year}&m=5"} 5
          %li
            %a{:href => "?y=#{@view_year}&m=6"} 6
          %li
            %a{:href => "?y=#{@view_year}&m=7"} 7
          %li
            %a{:href => "?y=#{@view_year}&m=8"} 8
          %li
            %a{:href => "?y=#{@view_year}&m=9"} 9
          %li
            %a{:href => "?y=#{@view_year}&m=10"} 10
          %li
            %a{:href => "?y=#{@view_year}&m=11"} 11
          %li
            %a{:href => "?y=#{@view_year}&m=12"} 12
          %li
            %a{:href => "?y=#{@view_year+1}&m=1"} #{@view_year+1} &gt;&gt;
  #detail
    - @schedule.each do |s|
      %hr
      .day
        .row
          .col-md-2
            %h3= s.date
          .col-md-10
            %h3= "#{s.presents} #{s.title}"
        .row
          .col-md-10.col-md-offset-2
            %h4.open= s.open.gsub("\\","￥").gsub("\/", "／")
          .col-md-10.col-md-offset-2
            .contents
              %p=s.band
    %hr
  #footer
    .row
      .col-md-12
        %p
          %a.text-right{:href => "https://www.twitter.com/maonyoro", :target => "_blank"} つくったひと

