#header
  .container
    .row
      .col-md-8
        %a{:href => "/", :style => "text-decoration:none"}
          %h1
            %img{:src => (asset_path "narusushi.png")}
            %br.formobile
            %span.small.mobile-right ~ Schedule of Urawa Narciss ~
      /.col-md-4.mode-button-area
      /  %a.btn.btn-sm.btn-default.pull-right{:href => "/calendar"} カレンダーモード
      /  %a.btn.btn-sm.btn-default.pull-right{:href => "/", :style => "margin-right:10px"} ノーマルモード
    .row
      .col-md-8
#note
  .container
    .row
      .col-md-12
        %p.text-danger
          本ページは全自動で生成されています。最新の正しい情報は必ず
          %a{:href => "http://www.zmf.co.jp", :target => "_blank", style: "text-decoration:underline"} 浦和ナルシス公式Website
          を確認してください。

// 年月ナビゲーション
.container
  - unless @view_year.nil?
    #selectmonth
      .row
        .col-md-12
          // 年月切り替え
          .button#switch-nav
            .btn-group
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %h2
                  = @current_view unless @current_view.nil?
                  %button.btn.btn-xs
                    %span.caret
                /= "#{@view_month}月"
              %ul.dropdown-menu
                %li
                  %a{:href => "?y=#{@view_year-1}&m=12"} &lt;&lt; #{@view_year-1}
                %li
                  %a{:href => "?y=#{@view_year}&m=1", :class => ("active" if @view_month == 1)} 1
                %li
                  %a{:href => "?y=#{@view_year}&m=2", :class => ("active" if @view_month == 2)} 2
                %li
                  %a{:href => "?y=#{@view_year}&m=3", :class => ("active" if @view_month == 3)} 3
                %li
                  %a{:href => "?y=#{@view_year}&m=4", :class => ("active" if @view_month == 4)} 4
                %li
                  %a{:href => "?y=#{@view_year}&m=5", :class => ("active" if @view_month == 5)} 5
                %li
                  %a{:href => "?y=#{@view_year}&m=6", :class => ("active" if @view_month == 6)} 6
                %li
                  %a{:href => "?y=#{@view_year}&m=7", :class => ("active" if @view_month == 7)} 7
                %li
                  %a{:href => "?y=#{@view_year}&m=8", :class => ("active" if @view_month == 8)} 8
                %li
                  %a{:href => "?y=#{@view_year}&m=9", :class => ("active" if @view_month == 9)} 9
                %li
                  %a{:href => "?y=#{@view_year}&m=10", :class => ("active" if @view_month == 10)} 10
                %li
                  %a{:href => "?y=#{@view_year}&m=11", :class => ("active" if @view_month == 11)} 11
                %li
                  %a{:href => "?y=#{@view_year}&m=12", :class => ("active" if @view_month == 12)} 12
                %li
                  %a{:href => "?y=#{@view_year+1}&m=1"} #{@view_year+1} &gt;&gt;

  #detail
    // トップページ用ビュー
    - if @view=="index"
      .row
        .col-md-12
          .panel.panel-primary
            .panel-body 予定をクリックすると詳細ページに飛びます
      - if @schedule.count == 0
        %p データがありません
      - @schedule.each do |s|
        %a.daylink{:href => "/day?date=#{s.date}"}
          .day{:class => ("today" if s.date==@today), :id => s.date}
            .row
              .col-md-3
                %h2= s.date+" "+$wdays[Date.strptime(s.date).wday]
              .col-md-9
                %h4= s.title.force_encoding("utf-8")
                %h4.dotted= s.open.force_encoding("utf-8").gsub("\\","￥").gsub("\/", "／")
                %h3.band= s.band.force_encoding("utf-8").gsub(/<(.*?)>/,"")
    // /day?date=YYYY-MM-DD 用ビュー
    - if @view=="day"
      .dayone{:id => @schedule[0].date}
        .row
          .col-md-12
            %h2= @schedule[0].date+" "+$wdays[Date.strptime(@schedule[0].date).wday]
            %table.table
              %tr
                %td.heading タイトル
                %td= @schedule[0].title.force_encoding("utf-8")
              %tr
                %td.heading 時間／料金
                %td= @schedule[0].open.force_encoding("utf-8").gsub("\\","￥").gsub("\/", "／")
              %tr
                %td.heading 出演者／詳細
                %td= @schedule[0].band.force_encoding("utf-8").html_safe

  // ソーシャルボタン
  #socialbutton
    - if @view=="day"
      .twitter
        %a.twitter-share-button{ |
          :href => "https://twitter.com/share", |
          "data-text" => @tweet_text, |
          "data-lang" => "ja", |
          "data-size" => "large" |
        } ツイート |
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs'); twttr.widgets.load();</script>
      - if @view=="day"
        .line.formobile
          - line_text="浦和ナルシス #{@schedule[0].date.sub('-','年').sub('-','月').<<('日')}のスケジュール\n#{@schedule[0].title.force_encoding("utf-8")}\n#{@schedule[0].open.force_encoding("utf-8").gsub("\\","￥").gsub("\/", "／")}\n\n#{@schedule[0].band.force_encoding("utf-8")}\n\n#{request.url}"
          %a{:href => URI.escape("http://line.me/R/msg/text/?#{line_text}")}
            %img{:src => "/img/linebutton_36x60.png", :width => "36px", :height => "60px", :alt => "LINEで送る"}

#footer
  .container
    .row
      .col-md-6
        %ul
          /%li
          /  %a{:href => "/aboutme"}このページについて
          %li
            %a{:href => "https://goo.gl/maps/T6hm6Ja68hs", :target => "_blank"}浦和ナルシスの地図(Google Maps)
      .col-md-6
        %p.text-right
          Twitter: 
          %a{:href => "https://www.twitter.com/narusushichan", :target => "_blank"} @narusushichan
        %p.text-right
          不具合報告、要望、その他もろもろは DM や Reply からお願いします
