#header
  .container
    .row
      .col-md-8
        %a{:href => "/", :style => "text-decoration:none"}
          %h1
            %img{:src => (asset_path "narusushi.png")}
            %span.small ~ Schedule of Urawa Narciss ~
      /.col-md-4.mode-button-area
      /  %a.btn.btn-sm.btn-default.pull-right{:href => "/calendar"} カレンダーモード
      /  %a.btn.btn-sm.btn-default.pull-right{:href => "/", :style => "margin-right:10px"} ノーマルモード
    .row
      .col-md-8
#note
  .container
    .row
      .col-md-12
        %p.text-danger
          本ページは全自動で生成されています。最新の正しい情報は必ず
          %a{:href => "http://www.zmf.co.jp", :target => "_blank", style: "text-decoration:underline"} 浦和ナルシス公式Website
          を確認してください。
.container
  #selectmonth
    .row
      .col-md-4
        %h2= @current_view unless @current_view.nil?
      .col-md-8
        %ul.pagination.pagination-sm.pull-right
          %li
            %a{:href => "?y=#{@view_year-1}&m=12"} &lt;&lt; #{@view_year-1}
          %li
            %a{:href => "?y=#{@view_year}&m=1", :class => ("active" if @view_month == 1)} 1
          %li
            %a{:href => "?y=#{@view_year}&m=2", :class => ("active" if @view_month == 2)} 2
          %li
            %a{:href => "?y=#{@view_year}&m=3", :class => ("active" if @view_month == 3)} 3
          %li
            %a{:href => "?y=#{@view_year}&m=4", :class => ("active" if @view_month == 4)} 4
          %li
            %a{:href => "?y=#{@view_year}&m=5", :class => ("active" if @view_month == 5)} 5
          %li
            %a{:href => "?y=#{@view_year}&m=6", :class => ("active" if @view_month == 6)} 6
          %li
            %a{:href => "?y=#{@view_year}&m=7", :class => ("active" if @view_month == 7)} 7
          %li
            %a{:href => "?y=#{@view_year}&m=8", :class => ("active" if @view_month == 8)} 8
          %li
            %a{:href => "?y=#{@view_year}&m=9", :class => ("active" if @view_month == 9)} 9
          %li
            %a{:href => "?y=#{@view_year}&m=10", :class => ("active" if @view_month == 10)} 10
          %li
            %a{:href => "?y=#{@view_year}&m=11", :class => ("active" if @view_month == 11)} 11
          %li
            %a{:href => "?y=#{@view_year}&m=12", :class => ("active" if @view_month == 12)} 12
          %li
            %a{:href => "?y=#{@view_year+1}&m=1"} #{@view_year+1} &gt;&gt;
        %ul.pagination.pagination-sm.pull-right
          %li
            %a{:href => "/##{@today}"} 今日
  #detail
    - @schedule.each do |s|
      .day{:class => ("bg-warning" if s.date==@today), :id => s.date}
        .row
          .col-md-2
            %h3= s.date
          .col-md-10
            %h3= "#{s.presents} #{s.title}"
        .row
          .col-md-10.col-md-offset-2
            %h4.open= s.open.gsub("\\","￥").gsub("\/", "／")
          .col-md-10.col-md-offset-2
            .contents
              %p=s.band.html_safe
  #footer
    .row
      .col-md-12
        %p
          %a.text-right{:href => "https://www.twitter.com/maonyoro", :target => "_blank"} つくったひと

